.movie-container {
  padding: 60px 0;
  margin: 20px auto 0;
}

@media screen and (max-width: 1420px) {
  .movie-container {
    padding: 60px 3%;
  }
}

.movie-container ul {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 40px;
}

@media screen and (max-width: 734px) {
  .movie-container ul {
    justify-content: center;
  }
}

.empty-return {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin-top: 70px;
}
