li {
    background-color: #fff;
    max-width: 325px;
    padding: 0 0 10px 0;
}

img {
    width: 100%;
    height: auto;
}

strong {
    width: 80%;
}

.infos-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 20px;
    margin: 5px 0;
}

.adult {
    padding: 0 20px;
}
